/* Extraído de <style> */
body{font-family:sans-serif;padding:20px;font-size:12px}table{width:100%;border-collapse:collapse}th{background:#111;color:#fff;padding:6px;text-align:left}td{padding:5px 6px;border-bottom:1px solid #eee}
